/* ...................video box.................... */
.video-box{
    background-color: var(--video-box);
    #myvideo{
        display: none;
    }
    .video-info{
        .video-content{
            text-align: center;
            h2{
                color:  var(--heading);
                margin-bottom: 1rem;
            }
            p{
                color: var(--header-p);
            }
            button{
                border: none;
                border-radius: 0.3rem;
                background-color: var(--blue_sky);
                margin-bottom: 1rem;
                color:var(--button-font);
            }
        }
        .member-box{
            .member{
                height: 6rem;
                border: 2px solid var(--box-border);
                border-radius: 0.2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                margin-bottom: 0.5rem;
                h2{
                    color:  var(--heading);
                }
                p{
                    color: var(--header-p);
                    margin-bottom: 0;
                }
            }
        }
    }
}


@media only screen and (min-width:768px) {
    /* ...................video box.................... */
.video-box{
    .video-info{
        .video-content{
            text-align: start;
            h2{
                margin-bottom: 1rem;
            }
            p{
                margin-bottom: 0;
                text-align: start;
            }
            button{
                margin: 3rem 0;
            }
        }
        .member-box{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .member{
                width: 32%;
            }
        }
    }
}


@media only screen and (min-width:1023px) {
    /* ...................video box.................... */
    .video-box{
        display: flex;
        position: relative;
        padding: 0;
        width: 100%;
        .video{
            width: 100%;
            #myvideo{
                display: block;
                width: 100%;
                object-fit: cover;
                width: 100%;
                height: 32rem;
                source{
                    
                }
            }
        }
        .video-info{
            margin: 5rem 5rem;
            display: flex;
            position: absolute;
            // display: none;
            .video-content{
                width: 100%;
                margin-right: 2rem;
                h2{
                    margin-bottom: 2rem;
                }
                p{
    
                }
                button{
                    margin: 4.5rem 0;
                    padding: 0.7rem 1rem;
                }
            }
            .member-box{
                .member{
                    width: 10rem;
                    height: 10rem;
                    h2{
    
                    }
                    p{
    
                    }
                }
            }
        }
    }
    
}

