::root {
  --button:rgb(12 ,113 ,167);
  --plan-background:rgba(255, 255, 255, 1);
  --sudo-line:rgb(12 ,113 ,167);
  --price-p:rgb(12 ,113 ,167);
  --popular:rgba(25, 146, 9, 0.973);
  --popular-font:white;
  --ratebar:rgb(223, 223, 219);
  --ratebar-value:rgb(12 ,113 ,167);
  --user-plan:rgb(195, 213, 240);
  --que-color:rgb(12 ,113 ,167);
  --gradient-color1:rgb(160 ,203 ,226);
  --gradient-color2:rgba(255, 255, 255,0);
  --gradient-plus:rgba(0, 0, 0,0.5);
  --hospita-heading-p-sudo:skyblue;
  --right-tik:skyblue ;
}

h2 {
  margin-bottom: 1rem;
}

input {
  width: auto;
}

.plus {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(90%, var(--gradient-color2)), to(var(--gradient-plus))), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp");
  background-image: linear-gradient(var(--gradient-color2) 90%, var(--gradient-plus)), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp");
  background-size: cover;
  text-align: center;
  height: 18rem;
}

.plus button {
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  background-color: var(--button);
}

.plus h1 {
  margin-bottom: 1.5rem;
}

.info {
  padding-bottom: 0rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-color1)), color-stop(15%, var(--gradient-color2)));
  background-image: linear-gradient(var(--gradient-color1) 0%, var(--gradient-color2) 15%);
}

.info .buy-plans {
  background-color: var(--plan-background);
  margin-top: -9rem;
  text-align: center;
  padding: 0.5rem;
  -webkit-box-shadow: -1px -1px 10px 2px #e0d6d6;
          box-shadow: -1px -1px 10px 2px #e0d6d6;
  padding-top: 1.2rem;
}

.info .buy-plans h2 {
  position: relative;
  margin: 0.5rem;
}

.info .buy-plans h2::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--sudo-line);
  width: 93%;
  left: 0.5rem;
  top: 5.5rem;
}

.info .buy-plans p {
  margin-bottom: 1rem;
}

.info .buy-plans .plan {
  position: relative;
  height: 26rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 1rem;
  border-top: 1px solid var(--sudo-line);
}

.info .buy-plans .plan h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 1.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.info .buy-plans .plan h3::before {
  position: absolute;
  content: "";
  border-bottom: 1px solid var(--sudo-line);
  width: 100%;
  top: 2rem;
}

.info .buy-plans .plan p {
  margin: 0 3rem;
  margin-bottom: 0.5rem;
}

.info .buy-plans .plan .price {
  position: absolute;
  bottom: 1rem;
}

.info .buy-plans .plan .price h2::before {
  width: 0;
}

.info .buy-plans .plan .price h2 span {
  font-size: 1rem;
}

.info .buy-plans .plan .price p {
  margin-bottom: 1rem;
  color: var(--price-p);
  font-weight: 900;
  width: auto;
}

.info .buy-plans .plan .price button {
  border-radius: 0.3rem;
  background-color: var(--button);
}

.info .buy-plans .advanced {
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-color1)), to(var(--gradient-color2)));
  background-image: linear-gradient(var(--gradient-color1) 0%, var(--gradient-color2) 100%);
}

.info .buy-plans .advanced .popular {
  background-color: var(--popular);
  padding: 0.5rem 1rem;
  border-radius: 1.1rem;
  font-size: 0.9rem;
  color: var(--popular-font);
  margin-top: -0.9rem;
  font-family: nexa-light;
  position: absolute;
}

.info .rateing-box {
  margin-top: 2rem;
  text-align: center;
}

.info .rateing-box .star-box .by-star h1 {
  color: var(--ratebar-value);
  font-size: 2.5rem;
  text-align: center;
}

.info .rateing-box .star-box .by-star .star {
  margin-bottom: 0.5rem;
}

.info .rateing-box .star-box .by-star .star i {
  color: var(--ratebar-value);
}

.info .rateing-box .star-box .by-star p {
  color: var(--ratebar-value);
}

.info .rateing-box .star-box .by-number {
  margin: 0 2rem;
}

.info .rateing-box .star-box .by-number .num-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .rateing-box .star-box .by-number .num-box p {
  width: 2rem;
  line-height: 1.2rem;
}

.info .rateing-box .star-box .by-number .num-box .ratebar {
  height: 1rem;
  background-color: var(--ratebar);
  width: 93%;
  border-radius: 0.5rem;
}

.info .rateing-box .star-box .by-number .num-box .ratebar .five {
  background-color: var(--ratebar-value);
  width: 70%;
  height: 100%;
  border-radius: 0.5rem;
}

.info .rateing-box .star-box .by-number .num-box .ratebar .four {
  background-color: var(--ratebar-value);
  width: 70%;
  height: 100%;
  border-radius: 0.5rem;
  width: 60%;
}

.info .rateing-box .star-box .by-number .num-box .ratebar .three {
  background-color: var(--ratebar-value);
  width: 70%;
  height: 100%;
  border-radius: 0.5rem;
  width: 50%;
}

.info .rateing-box .star-box .by-number .num-box .ratebar .two {
  background-color: var(--ratebar-value);
  width: 70%;
  height: 100%;
  border-radius: 0.5rem;
  width: 30%;
}

.info .rateing-box .star-box .by-number .num-box .ratebar .one {
  background-color: var(--ratebar-value);
  width: 70%;
  height: 100%;
  border-radius: 0.5rem;
  width: 10%;
}

.info .rateing-box .follower-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.info .rateing-box .follower-box .follower {
  width: 50%;
}

.info .rateing-box .follower-box .follower i {
  color: var(--ratebar-value);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  width: auto;
}

.info .rateing-box .follower-box .follower h3 {
  color: var(--ratebar-value);
  margin-bottom: 0.5rem;
}

.info .rateing-box .follower-box .follower p {
  color: var(--ratebar-value);
}

.info .hospitals-lists {
  text-align: center;
  margin: 2rem 0rem;
}

.info .hospitals-lists .hospital-heading {
  text-align: -webkit-center;
}

.info .hospitals-lists .hospital-heading p {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 900;
  position: relative;
}

.info .hospitals-lists .hospital-heading p::before {
  position: absolute;
  content: "";
  width: 100%;
  border-bottom: 5px solid var(--hospita-heading-p-sudo);
  top: 1.5rem;
}

.info .hospitals-lists .hospital-box .zerofees .zerofees-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info .hospitals-lists .hospital-box .zerofees .zerofees-content i {
  width: 3rem;
  font-size: 1.5rem;
  color: var(--right-tik);
  margin-right: 0.5rem;
}

.info .hospitals-lists .hospital-box .zerofees .zerofees-content p {
  text-align: start;
}

.info .hospitals-lists .hospital-box .top-hospital {
  font-family: 'nexa-light';
}

.info .hospitals-lists .hospital-box .top-hospital .hospitals {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  margin: 1rem 0rem;
}

.info .hospitals-lists .hospital-box .top-hospital .hospitals .hos-logo {
  padding: 10px;
  border-bottom: 1px solid black;
}

.info .hospitals-lists .hospital-box .top-hospital .hospitals .hos-logo:nth-last-child(2):nth-child(odd) {
  border-bottom: none;
}

.info .hospitals-lists .hospital-box .top-hospital .hospitals .hos-logo:last-child {
  border-bottom: none;
}

.info .hospitals-lists .hospital-box .top-hospital .hospitals .hos-logo:nth-child(odd) {
  border-right: 1px solid black;
}

.info .hospitals-lists .hospital-box .top-hospital .hospitals .hos-logo img {
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}

.info .offer-box {
  text-align: center;
  margin: 2rem 0rem;
}

.info .offer-box .offer-container {
  margin: 1rem 0rem;
}

.info .offer-box .offer-container .offer-info .offer-info-content {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .offer-box .offer-container .offer-info .offer-info-content p {
  margin-bottom: 0rem;
  text-align: start;
  margin-left: 0.5rem;
}

.info .offer-box .offer-container .offer-info .offer-info-content i {
  font-size: 1.5rem;
  color: var(--right-tik);
  margin-right: 0.5rem;
}

.info .offer-box .offer-container .offer-photo {
  -webkit-box-shadow: 1px 1px 10px 1px #856666;
          box-shadow: 1px 1px 10px 1px #856666;
  border-radius: 1rem;
}

.info .offer-box .offer-container .offer-photo img {
  border-radius: 1rem;
}

.info .tests-box {
  margin: 2rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .tests-box h5 {
  margin-bottom: 1.5rem;
  width: 100%;
  text-align: center;
}

.info .tests-box .profile_box {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info .tests-box .profile_box .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
  -webkit-box-shadow: -1px -1px 10px 2px #e0d6d6;
          box-shadow: -1px -1px 10px 2px #e0d6d6;
  margin-bottom: 0.4rem;
}

.info .tests-box .profile_box .profile .profile-img {
  margin: 1rem 0rem;
  width: 3rem;
}

.info .tests-box .profile_box .profile h4 {
  margin-bottom: 1rem;
  text-align: center;
}

.info .tests-box .dotss {
  margin-top: 1rem;
  width: 100%;
  text-align: center;
}

.info .tests-box .dotss .dott {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin-right: 0.5rem;
  background-color: #0c71a7;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.info .tests-box .dotss .dott:hover {
  background-color: #0c71a7;
}

.info .active {
  background-color: #0c71a7;
}

.info .fade {
  -webkit-animation: fade 01s forwards;
          animation: fade 01s forwards;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@-webkit-keyframes fade {
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fade {
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.info .why {
  margin-top: 2rem;
}

.info .why .why-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .why .why-heading h2 {
  margin: 0rem;
  margin-right: 0.5rem;
}

.info .why .why-heading button {
  border-radius: 0.25rem;
  background-color: var(--button);
}

.info .why .why-box {
  -webkit-box-shadow: -1px -1px 10px 2px #e0d6d6;
          box-shadow: -1px -1px 10px 2px #e0d6d6;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.info .why .why-box .why-photo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
}

.info .why .why-box .why-photo-box .doc-img {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.info .why .why-box .why-photo-box .doc-img img {
  border-radius: 2rem;
}

.info .why .why-box .why-photo-box .why-content .user {
  padding: 0.5rem;
  background-color: var(--user-plan);
  border-radius: 0.3rem;
  margin-top: 0.3rem;
  font-size: 0.8rem;
  font-family: nexa-light;
}

.questions-box .accordian .accordian-tab {
  margin-top: 2rem;
}

.questions-box .accordian .accordian-tab .accordian-toggle {
  display: none;
}

.questions-box .accordian .accordian-tab .accordian-toggle:checked ~ label::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.questions-box .accordian .accordian-tab .accordian-toggle:checked ~ .accordian-content {
  max-height: 100vh;
  margin-top: 1rem;
}

.questions-box .accordian .accordian-tab label {
  cursor: pointer;
  color: var(--que-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-family: nexa-bold;
  margin-right: 1.5rem;
}

.questions-box .accordian .accordian-tab label::after {
  content: "\f078";
  font: normal normal normal 14px/1 FontAwesome;
  position: absolute;
  right: 1rem;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: -webkit-transform .1s;
  transition: -webkit-transform .1s;
  transition: transform .1s;
  transition: transform .1s, -webkit-transform .1s;
  background-color: skyblue;
  padding: 0.15rem;
  border-radius: 01rem;
  color: #0d0d52;
}

.questions-box .accordian .accordian-tab .accordian-content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  background-color: #e5f1f7;
}

.questions-box .accordian .accordian-tab .accordian-content p {
  text-align: start;
  margin: 0.5rem;
}

/* ...................................... */
/* ...................................... */
/* ............tablet.................... */
/* ...................................... */
/* ...................................... */
@media only screen and (min-width: 768px) {
  .plus {
    text-align: start;
  }
  .plus h1 {
    text-align: start;
  }
  .plus p {
    text-align: start;
  }
  .info .buy-plans {
    margin-top: -10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 5rem;
    padding-top: 1.5rem;
  }
  .info .buy-plans h2 {
    width: 100%;
  }
  .info .buy-plans h2::before {
    width: 0;
  }
  .info .buy-plans p {
    width: 100%;
    margin-bottom: 2rem;
  }
  .info .buy-plans .plan {
    padding: 0 1rem;
    width: 28.6%;
    height: 28rem;
  }
  .info .buy-plans .plan p {
    width: 70%;
  }
  .info .rateing-box .star-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  .info .rateing-box .star-box .by-star {
    width: 10rem;
  }
  .info .rateing-box .star-box .by-number {
    width: 15rem;
  }
  .info .rateing-box .follower-box .follower {
    width: 25%;
    margin-top: 1rem;
  }
  .info .hospitals-lists .hospital-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2rem;
  }
  .info .hospitals-lists .hospital-box .zerofees {
    width: 50%;
  }
  .info .hospitals-lists .hospital-box .zerofees .zerofees-content p {
    text-align: start;
    margin-left: 1rem;
  }
  .info .offer-box {
    margin-top: 4rem;
  }
  .info .offer-box .offer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .info .offer-box .offer-container .offer-info {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info .offer-box .offer-container .offer-info .offer-info-content p {
    text-align: start;
    margin-left: 1rem;
  }
  .info .offer-box .offer-container .offer-photo {
    width: 45%;
    height: 14rem;
  }
  .info .offer-box .order {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .info .tests-box h5 {
    text-align: start;
  }
  .info .tests-box .profile_box .profile {
    margin-bottom: 0.8rem;
  }
  .info .why {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .info .why .why-heading {
    width: 100%;
  }
  .info .why .why-box {
    width: 45%;
  }
  .questions-box .accordian .accordian-tab label {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .questions-box .accordian .accordian-tab label::after {
    right: 3rem;
  }
}

/* ...................................... */
/* ...................................... */
/* ............decstop.................... */
/* ...................................... */
/* ...................................... */
@media only screen and (min-width: 1023px) {
  p {
    text-align: center;
    margin-bottom: 1rem;
  }
  .plus {
    height: 25rem;
  }
  .plus button {
    margin-top: 5rem;
  }
  .info .buy-plans {
    margin-top: -13rem;
  }
  .info .buy-plans .plan {
    width: 30.6%;
  }
  .info .buy-plans .plan h3::before {
    top: 2.5rem;
  }
  .info .rateing-box .star-box .by-number .num-box p {
    width: 2rem;
    margin-bottom: 1rem;
  }
  .info .offer-box .offer-container .offer-info {
    width: 70%;
  }
  .info .offer-box .offer-container .offer-info h2 {
    text-align: start;
  }
  .info .offer-box .offer-container .offer-photo {
    width: 25%;
  }
  .info .tests-box .profile_box .profile {
    width: 21.35%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 1rem;
  }
  .info .tests-box .profile_box .profile p {
    text-align: start;
  }
  .info .why .why-box {
    width: 30%;
  }
  .questions-box .accordian .accordian-tab label::after {
    right: 8rem;
  }
}
/*# sourceMappingURL=t_plus.css.map */