<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tvastra-plus</title>
    
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/new-theme.css">
    <link rel="stylesheet" href="css/tvastra-plus.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    

<!-- include nav-->
<%- include('include/_nav') %>
<!-- /include nav -->


<section class="plus">
    <button>  Plus  </button>
    <h1>Health care plan for you and your family</h1>
    <p> Health care plan for you and your famil health care plan for l </p>
</section>

<section class="info">

    <div class="buy-plans">
       
        <h2>Select tvastra plus healthcare plan</h2>
        <p> Select tvastra and your famil </p>

        <div class="plan">
                <h3>Basic plan</h3>
                <p> plan for you and your famil  you and your famil </p>
                <p> plan for you  you and your famil  and your famil  </p>
                <p> plan for you    </p>

                <div class="price">
                    <h2><i class="fa fa-inr" aria-hidden="true"></i>3333/<span>year</span> </h2>  
                    <p>view plan details </p>
                    <button>buy plan</button>
                </div>   
        </div>

        <div class="plan advanced">
            <div class="popular"> Popular  </div>
            <h3>Advanced plan</h3>
            <p> plan for you and  you and your famil your famil  </p>
            <p> plan for you and you and your famil  your famil  </p>
            <p> plan for you  and  you and your famil your famil  </p>

            <div class="price">
                <h2><i class="fa fa-inr" aria-hidden="true"></i>3,999/ <span>year</span> </h2>
                <p>view plan details </p>
                <button>buy plan</button>
            </div>   
        </div>

        <div class="plan">
            <h3>Comprehensive plan</h3>
            <p> plan  you and your famil for you and your famil  </p>
            <p> plan  you and your famil for you and your famil  </p>
            <p> plan  you and your famil for you and your famil  </p>
            <p> plan for you  </p>            
            <div class="price">
                <h2><i class="fa fa-inr" aria-hidden="true"></i>5,999/<span>year</span> </h2>
                <p>view plan details </p>
                <button>buy plan</button>
            </div>   
        </div>

    </div>

    <div class="rateing-box">
        
        <h2>trusted by 3crore+ users every month</h2>
        <p> health care plan for you and your famil health plan for you and your famil </p>

        <div class="star-box">
            <div class="by-star">
                <h1>4.5</h1>
                <div class="star">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star" aria-hidden="true"></i>
                    <i class="fa fa-star-half-o" aria-hidden="true"></i>
                </div>
                <P>1000+ Reating </p>
            </div>
            <div class="by-number">
                <div class="num-box">
                    <P>5</p>
                    <div class="ratebar">
                        <div class="five"></div>
                    </div>
                </div>
                <div class="num-box">
                    <P>4</p>
                    <div class="ratebar">
                        <div class="four"></div>
                    </div>
                </div>
                <div class="num-box">
                    <P>3</p>
                    <div class="ratebar">
                        <div class="three"></div>
                    </div>
                </div>
                <div class="num-box">
                    <P>2</p>
                    <div class="ratebar">
                        <div class="two"></div>
                    </div>
                </div>              
                <div class="num-box">
                    <P>1</p>
                    <div class="ratebar">
                        <div class="one"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="follower-box">

            <div class="follower">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h3>2 crocr</h3>
                <p>Monthly customer </p>
            </div>
            <div class="follower">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h3>100,000+</h3>
                <p>vrified doctor </p>
            </div>
            <div class="follower">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h3>10 Lakh+</h3>
                <p> medicin order delivery  </p>
            </div>
            <div class="follower">
                <i class="fa fa-user-md" aria-hidden="true"></i>
                <h3>5 crocr</h3>
                <p>doctorappointment </p>
            </div>

        </div>
    
    </div>

    <div class="hospitals-lists">
        <div class="hospital-heading">
            <p> benifit of+ membership </p> 
        </div>
        <div class="hospital-box">
            <div class="zerofees">  
                <h2>zero fees for clinic consultation</h2>
                <div class="zerofees-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care plan for you and your famil health plan for  you and your famil  you and your famil </p>
                </div>
                <div class="zerofees-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care plan for you and your famil health plan for  you and your famil  you and your famil </p>
                </div>
            </div>
            <div class="top-hospital">  
                <h3>top hospitals onboarded </h3>
                <div class="hospitals">
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg" alt=""> </div>
                    <div class="hos-logo"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg" alt=""> </div>
                </div>

                +More Hospitals
            </div>
        </div>
    </div>
    
    <div class="offer-box">
        <div class="offer-container">
            <div class="offer-info">  
                <h2>unlimited online consultation with top doctor</h2>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care plan for you and your  you and your famil  you and your famil </p>
                </div>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care plan for you and your you and your famil  you and your famil </p>
                </div>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care plan for you and your you and your famil  you and your famil </p>
                </div>
            </div>
            <div class="offer-photo">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
            </div>
        </div>
        <div class="offer-container order">
            <div class="offer-info">  
                <h2>Flat 20% off on prescription medicine , lab tests $ checkups</h2>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care plan for you and your you and your famil  you and your famil </p>
                </div>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care plan for you and your familcare plan for you and your famil health plan for  you and your famil  you and your famil </p>
                </div>
            </div>
            <div class="offer-photo">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
            </div>
        </div>
        <div class="offer-container">
            <div class="offer-info">  
                <h2>2 free health checkup</h2>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care care plan for you and your familplan for you and your famil health plan for  you and your famil  you and your famil </p>
                </div>
                <div class="offer-info-content">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    <p> health care care plan for you and your familplan for you and your famil health plan for  you and your famil  you and your famil </p>
                </div>
            </div>
            <div class="offer-photo">
                <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="tests-box">
            <h5>60 tests included</h5>
            <div class="profile_box fade">
                <div class="profile">   
                    <div class="profile-img"> 
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="">
                    </div>
                    <h4>vitamin profile</h4>
                    <p> 2 test </p>
                </div>
                <div class="profile">   
                    <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg" alt=""></div>
                    <h4>iron deficiency profit</h4>
                    <p> 2 test </p>
                </div>
                <div class="profile">   
                    <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt=""></div>
                    <h4>thyroid profile</h4>
                    <p> 2 test </p>
                </div>
                <div class="profile">   
                    <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt=""></div>
                    <h4>liver profile</h4>
                    <p> 2 test </p>
                </div>   
            </div>
            <div class="profile_box fade">
                <div class="profile">   
                    <div class="profile-img"> 
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt="">
                    </div>
                    <h4>vitamin profile</h4>
                    <p> 2 test </p>
                </div>
                <div class="profile">   
                    <div class="profile-img"> 
                        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg" alt=""></div>
                    <h4>iron deficiency profit</h4>
                    <p> 2 test </p>
                </div>
                <div class="profile">   
                    <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg" alt=""></div>
                    <h4>thyroid profile</h4>
                    <p> 2 test </p>
                </div>
                <div class="profile">   
                    <div class="profile-img"> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg" alt=""></div>
                    <h4>liver profile</h4>
                    <p> 2 test </p>
                </div>   
            </div>
            <div class="dotss">
                <span class="dott" onclick="currentSlidee(1)"></span> 
                <span class="dott" onclick="currentSlidee(2)"></span> 
            </div>
    </div>
    
    <div class="why">
        <div class="why-heading">
            <h2>why we love Tvastra</h2>
            <button>plus</button>
        </div>
        <div class="why-box">
            <h5> health care plan for you and your famil health care plan for health care plan for you and your famil health care plan for health care pl </h5>
            <div class="why-photo-box">
                <div class="doc-img">
                    <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="">
                </div>
                <div class="why-content">
                    <h4>Rishabh tiwari</h4>
                    <div class="user">advanced plan user</div>
                </div>
            </div>
        </div>
        <div class="why-box">
            <h5> health care plan for you and your famil health care plan for health care plan for you and your famil health care plan for health care pl </h5>
           <div class="why-photo-box">
                <div class="doc-img"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt=""></div>
                <div class="why-content">
                    <h4>Rishabh tiwari</h4>
                    <div class="user">advanced plan user</div>
                </div>
            </div>
        </div>
        <div class="why-box">
            <h5> health care plan for you and your famil health care plan for health care plan for you and your famil health care plan for health care pl </h5>
           <div class="why-photo-box">
                <div class="doc-img"><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt=""></div>
                <div class="why-content">
                    <h4>Rishabh tiwari</h4>
                    <div class="user">advanced plan user</div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="questions-box">
    <h2>Frequently Ask quetions</h2>
    <div class="accordian">          
        <div class="accordian-tab">
            <input type="checkbox" id="toggle1" class="accordian-toggle" name="toggle">
            <label for="toggle1"> How does free in-clinic consultation with doctors and hospitals work?</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing etit Suscipit repudiandae enim obcoecatil Doloremqe alios harum suscipit, enim ipsum cupiditate qu psum delectus delenit distinctio, alias earum officis accusamus consectetur eius</p>
            </div>
        </div>   
        <div class="accordian-tab">
            <input type="checkbox" id="toggle2" class="accordian-toggle" name="toggle">
            <label for="toggle2"> Are there are any type of doctors not included in Tvastra Plus in-clinic consultation network?</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
        <div class="accordian-tab">
            <input type="checkbox" id="toggle3" class="accordian-toggle" name="toggle">
            <label for="toggle3"> How do the unlimited online consultation work?</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
        <div class="accordian-tab">
            <input type="checkbox" id="toggle3" class="accordian-toggle" name="toggle">
            <label for="toggle4"> How does fiat 20% off on medicines work?</label>
           
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
        <div class="accordian-tab">
            <input type="checkbox" id="toggle6" class="accordian-toggle" name="toggle">
            <label for="toggle5"> How does 20% off on lab tests work?</label>        
            <div class="accordian-content">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>   
    </div>
</section>

<!-- include _footer-->
<%- include('include/_footer') %>
<!-- /include _footer -->


<script>
    
var slideIndexx = 1;
showSlidess(slideIndexx);

function currentSlidee(n) {
  showSlidess(slideIndexx = n);
}

function showSlidess(n) {
  var i;
  var slidess = document.getElementsByClassName("profile_box");
  var dotss = document.getElementsByClassName("dott");
  if (n > slidess.length) {slideIndexx = 1}    
  if (n < 1) {slideIndexx = slidess.length}
  for (i = 0; i < slidess.length; i++) {
      slidess[i].style.display = "none";  
  }
  for (i = 0; i < dotss.length; i++) {
      dotss[i] = dotss[i].style.background = "rgba(0,0,0,0.2)";
  }
  slidess[slideIndexx-1].style.display = "flex";  
  dotss[slideIndexx-1].style.background = "rgb(22, 125, 221)";
}

</script>


</body>
</html>