::root{
    --button:rgb(12 ,113 ,167);
    --plan-background:rgba(255, 255, 255, 1);
    --sudo-line:rgb(12 ,113 ,167);
    --price-p:rgb(12 ,113 ,167);
    --popular:rgba(25, 146, 9, 0.973);
    --popular-font:white;
    --ratebar:rgb(223, 223, 219);
    --ratebar-value:rgb(12 ,113 ,167);
    --user-plan:rgb(195, 213, 240);
    --que-color:rgb(12 ,113 ,167);
    --gradient-color1:rgb(160 ,203 ,226);
    --gradient-color2:rgba(255, 255, 255,0);
    --gradient-plus:rgba(0, 0, 0,0.5);
    --hospita-heading-p-sudo:skyblue;
    --right-tik :skyblue ;
  
  }
  
  $ans-bg:rgb(229 ,241 ,247);
  $downarrow-bg:skyblue;
  $downarrow:rgb(13, 13, 82);
  $dots_bg:#bbb;
  $dots_bg_ho:#5f4040;
  $active:rgb(12 ,113 ,167);
  $box-shado: #e0d6d6;
  $black:black;
  $of:rgb(133, 102, 102);
  
  h2{
    margin-bottom: 1rem;
  }
  input {
    width: auto;
  }
  // ...........plus..................
  .plus{
    background-image:  linear-gradient(var(--gradient-color2)90%,var(--gradient-plus)), url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp");
   // background-position: center;
   //background-image: linear-gradient(var(--gradient-color1)10% ,var(--gradient-color2)15%);
  
    background-size: cover;
    text-align: center;
    height: 18rem;
    button{
      margin-bottom: 1.5rem;
      border-radius: 0.5rem;
      border: none;
      background-color: var(--button);
    }
    h1{
      margin-bottom: 1.5rem;
    }
  }
  //........info.................
  .info{
    padding-bottom: 0rem;
    background-image: linear-gradient(var(--gradient-color1)0% ,var(--gradient-color2)15%);
    
    //......buy-plans.................
    .buy-plans{
      background-color: var(--plan-background);
      margin-top: -9rem;
      text-align: center;
      padding: 0.5rem;
      box-shadow: -1px -1px 10px 2px $box-shado;
      padding-top: 1.2rem;
      h2{
        position: relative;
        margin: 0.5rem;
        &::before{
          position: absolute;
          content: "";
          border-bottom: 1px solid var(--sudo-line) ;
          width:93%;
          left: 0.5rem;
          top: 5.5rem;
        }
      }
      p{
        margin-bottom: 1rem;
      }
      .plan{
        position: relative;
        height: 26rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1rem;
        border-top: 1px solid var(--sudo-line);
        h3{
          width: fit-content;
          margin: 1.5rem;
          margin-bottom: 2rem;
          position: relative;
          &::before{
            position: absolute;
            content: "";
            border-bottom: 1px solid var(--sudo-line) ;
            width: 100%;
            top: 2rem;
          }
        }
        p{
          margin: 0 3rem;
          margin-bottom: 0.5rem;
        }
        .price{
          position: absolute;
          bottom: 1rem;
          h2{
            &::before {
              width: 0;
            }
            span{
              font-size: 1rem;
            }
          }
          p{
            margin-bottom: 1rem;
            color: var(--price-p);
            font-weight: 900;
            width: auto;
          }
          button{
            border-radius: 0.3rem;
            background-color: var(--button);
          }
        }
      }
      .advanced{
       background-image: linear-gradient(var(--gradient-color1)0% ,var(--gradient-color2)100%);
        .popular{
          background-color: var(--popular);
          padding: 0.5rem 1rem;
          border-radius: 1.1rem;
          font-size: 0.9rem;
          color: var(--popular-font);;
          margin-top: -0.9rem;
          font-family: nexa-light;
          position: absolute;
        }
      }
    }
    //.....rateing-box.................
    .rateing-box{
      margin-top: 2rem;
      text-align: center;
      .star-box{
        .by-star{
          h1{
            color:var(--ratebar-value);
            font-size: 2.5rem;
            text-align: center;
          }
          .star{
            margin-bottom: 0.5rem;
            i{
              color: var(--ratebar-value);
            }
          }
          p{
            color:var(--ratebar-value);
          }
        }
        .by-number{
          margin: 0 2rem;
          .num-box{
            display: flex;
            p{
              width: 2rem;
              line-height: 1.2rem;
            }
            .ratebar{
              height: 1rem;
              background-color: var(--ratebar);
              width: 93%;
              border-radius: 0.5rem;
              .five{
                background-color: var(--ratebar-value);
                width: 70%;
                height: 100%;
                border-radius: 0.5rem;
              }
              .four{
                background-color: var(--ratebar-value);
                width: 70%;
                height: 100%;
                border-radius: 0.5rem;
                width: 60%;
              }
              .three{
                background-color: var(--ratebar-value);
                width: 70%;
                height: 100%;
                border-radius: 0.5rem;
                width: 50%;
              }
              .two{
                background-color: var(--ratebar-value);
                width: 70%;
                height: 100%;
                border-radius: 0.5rem;
                width: 30%;
              }
              .one{
                background-color: var(--ratebar-value);
                width: 70%;
                height: 100%;
                border-radius: 0.5rem;
                width: 10%;
              }
            }
          }
        }
      }
      .follower-box{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1rem;
        .follower{
          width: 50%;
          i{
            color: var(--ratebar-value);
            font-size: 2rem;
            margin-bottom: 0.5rem;
            width: auto;
          }
          h3{
            color: var(--ratebar-value);
            margin-bottom: 0.5rem;
          }
          p{
            color: var(--ratebar-value);
          }
        }
      }
    }
    // ......hospitals-lists..........
    .hospitals-lists{
      text-align: center;
      margin: 2rem 0rem;
      .hospital-heading{
        text-align: -webkit-center;
        p{
          width: fit-content;
          font-weight: 900;
          position: relative;
          &::before{
            position: absolute;
            content: "";
            width: 100%;
            border-bottom: 5px solid  var(--hospita-heading-p-sudo);
            top: 1.5rem;
          }
        }
      }
      .hospital-box{
        .zerofees{
          .zerofees-content{
              display: flex;
              i{
                width: 3rem;
                font-size: 1.5rem;
                color: var(--right-tik);
                margin-right: 0.5rem;
              }
              p{
                text-align: start;
              }
           }
        }
        .top-hospital{
          font-family: 'nexa-light';
          .hospitals{
            display: grid;
            grid-template-columns: repeat(2, auto);
            margin: 1rem 0rem;
            .hos-logo{
              padding: 10px;
              border-bottom: 1px solid $black;
              &:nth-last-child(2):nth-child(odd) {
                border-bottom: none;
              }
              &:last-child{
                border-bottom: none;
              }
              &:nth-child(odd) {
                border-right: 1px solid $black;
              }
              img{
                width: 70%;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
    // .......offer-box..........
    .offer-box{
      text-align: center;
      margin: 2rem 0rem;
      .offer-container{
        margin: 1rem 0rem;
        .offer-info{
          .offer-info-content{
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            p{
              margin-bottom: 0rem;
              text-align: start;
              margin-left: 0.5rem;
            }
            i{
              font-size: 1.5rem;
              color: var(--right-tik);
              margin-right: 0.5rem;
            }
          }
        }
        .offer-photo{
          box-shadow: 1px 1px 10px 1px $of ;
          border-radius: 1rem;
          img{
            border-radius: 1rem;
          }
        }
      }
    }
    //.......tests-box...............
    .tests-box{
      margin: 2rem 0rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      h5{
        margin-bottom: 1.5rem;
        width: 100%;
        text-align: center;
      }
      .profile_box{
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        .profile{
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 49%;
          box-shadow: -1px -1px 10px 2px $box-shado;
          margin-bottom: 0.4rem;
          .profile-img{
            margin: 1rem 0rem;
            width: 3rem;
          }
          h4{
            margin-bottom: 1rem;
            text-align: center;
          }
        }
      }
      .dotss{
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        .dott{
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin-right: 0.5rem;
            background-color: $active;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
            &:hover {
                background-color:$active;
            }
        }
      }
    }
    .active{
      background-color: $active;
    } 
    .fade {
      animation: fade 01s forwards;
      transform: translateX(100%);
    }
    @keyframes fade {
      100%{ transform: translateX(0%)}
    }
    //.......why..................
    .why{
      margin-top: 2rem ;
      .why-heading{
        display: flex;
        margin-bottom: 1rem;
        align-items: center;
        h2{
          margin: 0rem;
          margin-right: 0.5rem;
        }
        button{
          border-radius: 0.25rem;
          background-color: var(--button);
        }
      }
      .why-box{
        box-shadow: -1px -1px 10px 2px $box-shado;
        padding: 1rem;
        margin-bottom: 0.5rem;
        .why-photo-box{
          display: flex;
          margin-top: 1rem;
          .doc-img{
            width: 3rem;
            height: 3rem;
            margin-right: 1rem;
            img{
              border-radius: 2rem;
            }
          }
          .why-content{
            .user{
              padding: 0.5rem;
              background-color: var(--user-plan);
              border-radius: 0.3rem;
              margin-top: 0.3rem;
              font-size: 0.8rem;
              font-family: nexa-light;
            }
          }
        }
      }
    }
    
  }
  //..........questions-box.............
  .questions-box{
    .accordian{
      .accordian-tab{
        margin-top: 2rem ;
        .accordian-toggle{
          display: none;
          &:checked ~ label::after {
            transform: rotate(180deg);
          }
          &:checked ~ .accordian-content{
            max-height: 100vh;
            margin-top: 1rem;
          }  
        }
        label{
          cursor: pointer ;
          color: var(--que-color);
          display: flex;
          align-items: center;
          font-size: 0.9rem;
          line-height: 1.2rem;
          font-family: nexa-bold;
          margin-right: 1.5rem;
          &::after {
            content: "\f078";
            font: normal normal normal 14px/1 FontAwesome;
            position: absolute;
            right: 1rem;
            transform: rotate(0deg);
            transition: transform .1s;
            background-color: $downarrow-bg;
            padding: 0.15rem;
            border-radius: 01rem;
            color: $downarrow;
          }
        }
        .accordian-content{
          max-height: 0;
          overflow: hidden;
          transition: all .1s;
          background-color: $ans-bg;
          p{
            text-align: start;
            margin: 0.5rem;
          }
        }
      }
    }
  }
  
  
  /* ...................................... */
  /* ...................................... */
  /* ............tablet.................... */
  /* ...................................... */
  /* ...................................... */
  
  
  @media only screen and ( min-width:768px) {
  
  //........plus...............
  .plus{
    text-align: start;
    h1{
      text-align: start;
    }
    p{
      text-align: start;
    }
  } 
  //........info................
  .info{
    //......buy-plans...........
    .buy-plans{
      margin-top: -10rem;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5rem;
      padding-top: 1.5rem;
      h2{
        width: 100%;
        &::before {
          width: 0;
        }
      }
      p{
        width: 100%;
        margin-bottom: 2rem;
      }
      .plan{
        padding: 0 1rem;
        width: 28.6%;
        height: 28rem;
        p{
          width: 70%;
        }
      }
    } 
    //.....rateing-box.........
    .rateing-box{
      .star-box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        .by-star{
          width: 10rem;
        }
        .by-number{
          width: 15rem;
        }
      }
      .follower-box{
        .follower{
          width: 25%;
          margin-top: 1rem;
        }
      }
    }
    // ......hospitals-lists..
      .hospitals-lists{
        .hospital-box{
          display: flex;
          justify-content: space-between;
          margin-top: 2rem;
          .zerofees{
            width: 50%;
            .zerofees-content{
              p{
                text-align: start;
                margin-left: 1rem;
              }
            }
          }
        }
    }
    // .......offer-box.......
    .offer-box{
      margin-top: 4rem;
      .offer-container{
          display: flex;
          justify-content: space-between;
          margin-bottom: 3rem;
          flex-direction: row-reverse;
          .offer-info{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .offer-info-content{
              p{
                text-align: start;
                margin-left: 1rem;
              }
            }
          }
          .offer-photo{
            width: 45%;
            height: 14rem;
          }
        }
        .order{
          flex-direction: row;
        }
    }
    //.......tests-box.........
    .tests-box{
      h5{
        text-align: start;
      }
      .profile_box{
        .profile{
          margin-bottom: 0.8rem;
        }
      }
    }
    //.....why............
    .why{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .why-heading {
        width: 100%;
      }
      .why-box {
        width: 45%;
      }
    }
  }
  
    .questions-box{
      .accordian{
        .accordian-tab{
          label{
            font-size: 1.2rem;
            line-height: 1.5rem;
            &::after {
              right: 3rem;
            }
          }
        }
      }
    }
  
  
  }
  /* ...................................... */
  /* ...................................... */
  /* ............decstop.................... */
  /* ...................................... */
  /* ...................................... */
  
  
  @media only screen and ( min-width:1023px) {
  
  p{
      text-align: center;
      margin-bottom: 1rem;
  }
  
  //..............plus............... 
  .plus{
    height: 25rem;
    button {
        margin-top: 5rem;
    }
  }
  //........info.................
  .info{
    //......buy-plans...........
    .buy-plans{
      margin-top: -13rem;
      .plan{
        width: 30.6%;
        h3{
          &::before{
            top: 2.5rem;
          }
        }
      }
    }
    //.....rateing-box..........
    .rateing-box{
        .star-box{
          .by-number{
            .num-box{
              p{
                width: 2rem;
                margin-bottom: 1rem;
              }
            }
          }
        }
    }
    // .......offer-box..........
    .offer-box{
      .offer-container{
        .offer-info{
          width: 70%;
          h2{
            text-align: start;
          }
        }
        .offer-photo{
          width: 25%;
        }
      }
    }
    //.......tests-box.........
    .tests-box{
      .profile_box{
        .profile{
          width:21.35%;
          align-items: flex-start;
          padding: 1rem;
          p{
            text-align: start;
          }
        }
      }
    }
    //.....why...........
    .why {
        .why-box {
          width: 30%;
        }
    }
  
  }
  .questions-box{
    .accordian{
      .accordian-tab{
        label{
          &::after {
            right: 8rem;
          }
        }
      }
    }
  }
  
  }