/**********Navbar**************************/
nav .nav_log {
  width: 6.5rem;
}

nav .Desktop_nav {
  display: none;
}

/******************header**************/
.header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg);
  /* background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-position: top;
  height: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .heading h1, .header .heading p {
  color: var(--white);
}

.header .heading h1 {
  padding: 1rem;
  /*  font-size: 1.8rem; */
}

/*****************************main_hp**************/
.main_hp .info_hp .artical {
  text-align: center;
}

.main_hp .info_hp .artical h2 {
  padding-bottom: 1rem;
  font-size: 1.5rem;
}

.main_hp .info_hp .artical .signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 0.5rem;
}

.main_hp .info_hp .artical .signature img {
  width: 15rem;
}

/*************************************Score***********************/
.r_score {
  background-color: var(--black);
}

.r_score .video #myvideo {
  display: none;
}

.r_score .video_info .r_artical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.r_score .video_info .r_artical h2 {
  color: var(--white);
  text-align: center;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

.r_score .video_info .r_artical p {
  color: var(--grey_c);
  padding: 1rem 0rem;
}

.r_score .video_info .r_numbers .r_type {
  margin: 0.8rem 0rem;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0.1rem solid var(--grey_c);
  border-radius: 0.3rem;
}

.r_score .video_info .r_numbers .r_type span {
  color: var(--white);
  font-family: 'nexa-bold';
  font-size: 1.5rem;
}

.r_score .video_info .r_numbers .r_type p {
  color: var(--grey_c);
  padding-top: 0.5rem;
  margin: 0rem;
  font-size: 0.7rem;
}

/**********Help**********************/
.help {
  background-color: var(--lightbg-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help .help_hp {
  text-align: center;
}

.help .help_hp h1 {
  color: var(--white);
  /*  font-size: 1.5rem; */
  padding-bottom: 0.8rem;
}

/*********************Footer**********************/
.Footer {
  border-bottom: 0.5rem solid var(--dodgle-blue);
}

.Footer .first_row .footer_image {
  width: 9.8rem;
  padding-bottom: 0.5rem;
}

.Footer .first_row ul li {
  color: var(--white);
  padding: 0.3rem;
}

.Footer .second_row .socail-media i {
  color: var(--white);
  padding: 0.8rem;
}

.Footer .second_row .copy-rights p {
  color: var(--white);
}

.Footer .second_row .copy-rights p i {
  color: var(--white);
}

/********Footer end***************/
/************Meadia Q*******************************/
/*************Tablet Views (768px)*********************/
/************************Find Afforable********************/
@media only screen and (min-width: 768px) {
  /*******************main_hp*********************/
  .main_hp .info_hp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main_hp .info_hp .artical {
    text-align: left;
  }
  .main_hp .info_hp .artical p {
    text-align: left;
    margin: 1rem 0rem;
  }
  .main_hp .info_hp .artical .signature {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 1rem;
  }
  .main_hp .info_hp .Dr_img {
    width: 100%;
    height: 100%;
    padding-top: 1rem;
  }
  /******************Help***********/
  .help .help_hp h2 {
    padding-bottom: 0rem;
  }
  /**************************R main****************/
  .r_score .video_info .r_artical {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .r_score .video_info .r_artical p {
    margin: 1rem 0rem;
    text-align: start;
  }
  .r_score .video_info .r_numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 2rem;
  }
  .r_score .video_info .r_numbers .r_type {
    width: 27.19%;
    padding: 1.5rem 1rem;
    margin: 0.5rem 0.5rem 0rem 0rem;
  }
  .r_score .video_info .r_numbers .r_type span {
    padding: 0rem;
  }
  .r_score .video_info .r_numbers .r_type p {
    padding: 0rem;
  }
  /************************Footer*******************************/
  .Footer .first_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .Footer .first_row ul li {
    color: var(--dark_blue);
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0.8rem 0.8rem 0rem 0rem;
  }
  .Footer .second_row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 1.5rem;
  }
  .Footer .second_row .socail-media {
    padding-top: 0.4rem;
  }
  .Footer .second_row .socail-media i {
    color: var(--dark_blue);
    padding: 0rem;
    padding-left: 0.8rem;
  }
  .Footer .second_row .copy-rights p {
    margin: 0rem;
    color: var(--dark_blue);
    font-size: 0.9rem;
  }
  .Footer .second_row .copy-rights p i {
    color: var(--dark_blue);
  }
}

/*********Desktop views (1024px)*********************/
@media only screen and (min-width: 1024px) {
  /******************Nav Bar**************************/
  nav #list_toggle {
    display: none;
  }
  nav .nav_log {
    width: 13rem;
  }
  nav .Desktop_nav {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%;
  }
  nav .Desktop_nav .navbar_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .Desktop_nav .navbar_buttons button {
    width: 10rem;
    height: 3rem;
    /*  padding: 0rem 1rem; */
    border-radius: 0.3rem;
  }
  nav .Desktop_nav .navbar_buttons .login-button {
    margin-right: 0.5rem;
    border: 0.1rem solid var(--dark_blue);
    background-color: var(--white);
    color: var(--dark_blue);
    font-family: 'nexa-bold';
  }
  nav .Desktop_nav .navbar_buttons .quote-button {
    background-color: var(--dark_blue);
    color: var(--white);
  }
  nav .Desktop_nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 4rem;
  }
  nav .Desktop_nav ul li {
    padding-top: 1rem;
  }
  nav .Desktop_nav ul li a {
    padding: 1rem;
  }
  /******************main_hp********/
  .main_hp .info_hp {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
  }
  .main_hp .info_hp .artical h2 {
    font-size: 1.7rem;
  }
  .main_hp .info_hp .Dr_img {
    width: 50%;
    height: 90%;
    padding-left: 20%;
  }
  /************************r_score***************/
  .r_score {
    position: relative;
    padding: 0rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .r_score .video {
    width: 100%;
  }
  .r_score .video #myvideo {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 22rem;
    /* height: 32rem; */
  }
  .r_score .video_info {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-column-gap: 1.5rem;
    padding-top: 0rem;
    position: absolute;
    margin: 0rem 4rem;
    /* margin: 4rem; */
  }
  .r_score .video_info .r_artical h2 {
    margin-top: 0rem;
    font-size: 1.7rem;
  }
  .r_score .video_info .r_artical p {
    margin-top: 0rem;
    padding-top: 0rem;
    margin-bottom: 3rem;
  }
  .r_score .video_info .r_numbers .r_type {
    width: 26%;
    height: 5rem;
  }
  /************Help*****************/
  .help {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .help .help_hp {
    /*  h2 {
                text-align: start;
            } */
  }
  .help .help_hp p {
    margin-bottom: 0rem;
  }
  .help .enquiry_button {
    /*  width: 20%; */
    padding-top: 0.5rem;
  }
  .help .enquiry_button .second_button {
    height: 3.2rem;
    font-size: 0.9rem;
  }
}

/**************************End*************************/
/*# sourceMappingURL=aboutus.css.map */