/**********Navbar**************************/
nav {
    .nav_log {
        width: 6.5rem;
    }

    .Desktop_nav {
        display: none;
    }
}

/******************header**************/
.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg);
   /* background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;
    height: 17rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1,p {
            color: var(--white);
        }
        h1 {
            padding: 1rem;
          /*  font-size: 1.8rem; */
        
        }
    }
}
/*****************************main_hp**************/
.main_hp {
    .info_hp {
        .artical {
            text-align: center;
            h2 {
                padding-bottom: 1rem;
                font-size: 1.5rem;
            }
            .signature {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-bottom: 0.5rem;
                img {
                    width: 15rem;
                }
            }
        }
    }
}
/*************************************Score***********************/
.r_score {
    background-color: var(--black);
    .video {
        #myvideo {
            display: none;
        }
    }
    .video_info{
        .r_artical {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                color: var(--white);
                text-align: center;
                padding-bottom: 0.5rem;
                font-size: 1.5rem;
            }
            p {
                color: var(--grey_c);
                padding: 1rem 0rem;
            }
        }
        .r_numbers {
            .r_type {
                margin: 0.8rem 0rem;
                padding: 2rem 1rem;
                display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               border: 0.1rem solid var(--grey_c);
               border-radius: 0.3rem;
                span {
                    color: var(--white);
                    font-family: 'nexa-bold';
                    font-size: 1.5rem;
                }
                p{
                    color: var(--grey_c);  
                    padding-top: 0.5rem;
                    margin: 0rem;
                    font-size: 0.7rem;
                }
            }
        }
    }
}

/**********Help**********************/
.help {
    background-color: var(--lightbg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    .help_hp {
        text-align: center;
        h1{
           color: var(--white);
         /*  font-size: 1.5rem; */
           padding-bottom: 0.8rem;
        }
    }
    
}

/*********************Footer**********************/
.Footer {
    border-bottom: 0.5rem solid var(--dodgle-blue);
    .first_row {
        .footer_image {
            width: 9.8rem;
            padding-bottom: 0.5rem;
        }
        ul {
            li {
                color: var(--white);
                padding: 0.3rem;
            }
        }
    }

    .second_row {
        .socail-media {
            i {
                color: var(--white);
                padding: 0.8rem;
            }
        }

        .copy-rights {
            p {
                color: var(--white);
                i {
                    color: var(--white);
                }
            }
        }
    }
}
/********Footer end***************/

/************Meadia Q*******************************/
/*************Tablet Views (768px)*********************/

/************************Find Afforable********************/
@media only screen and ( min-width:768px) {
    /*******************main_hp*********************/
    .main_hp {
        .info_hp {
            display: flex;
            .artical {
                text-align: left;
                p {
                    text-align: left;
                    margin: 1rem 0rem;
                }
                .signature {
                    justify-content: flex-start;
                    padding-left: 1rem;
                }
            }
            .Dr_img {
                width: 100%;
                height: 100%;
                padding-top: 1rem;
            }
        }
    }
    /******************Help***********/
    .help {
        .help_hp {
            h2 {
                padding-bottom: 0rem;
            }
        }
    }
    /**************************R main****************/
    .r_score {
        .video_info{
    
            .r_artical {
                align-items: flex-start;
                p {
                    margin: 1rem 0rem;
                    text-align: start;
                }
            }
            .r_numbers {
                display: flex;
                flex-wrap: wrap;
                padding-top: 2rem;
                .r_type {
                    width: 27.19%;
                    
                    padding: 1.5rem 1rem;
                    margin: 0.5rem 0.5rem 0rem 0rem;
                    span {
                        padding: 0rem;
                    }
                    p {
                        padding: 0rem;
                    }
                }
            }

        }
    }
    /************************Footer*******************************/
    .Footer {
        .first_row {

            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;

            ul {
                li {
                    color:var(--dark_blue);
                    display: inline-flex;
                    padding: 0.8rem 0.8rem 0rem 0rem;
                    
                }
            }
        }

        .second_row {
             display: flex;
             flex-direction: row-reverse;
             width: 100%;
             justify-content: space-between;
             padding-top: 1.5rem;

            .socail-media {
                padding-top: 0.4rem;
                i {
                  color: var(--dark_blue);
                  padding: 0rem;
                  padding-left: 0.8rem;
                }
            }

            .copy-rights {
                p {
                    margin: 0rem;
                    color:var(--dark_blue);
                    font-size: 0.9rem;
                    i{
                        color: var(--dark_blue);
                    }
                }
            }
        }
    }
}

/*********Desktop views (1024px)*********************/
@media only screen and ( min-width:1024px) {
    
      
    /******************Nav Bar**************************/
    nav {
        #list_toggle {
            display: none;
        }
        .nav_log {
            width: 13rem;
        }
        .Desktop_nav {
            display: initial;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .navbar_buttons {
                display: flex;

                button {
                    width: 10rem;
                    height: 3rem;
                  /*  padding: 0rem 1rem; */
                    border-radius: 0.3rem;
                    
                }

                .login-button {
                    margin-right: 0.5rem;
                    border: 0.1rem solid var(--dark_blue);
                    background-color: var(--white);
                    color: var(--dark_blue);
                    font-family: 'nexa-bold';
                }
                
                .quote-button {
                    
                    background-color: var(--dark_blue);
                    color: var(--white);
                }

            }

            ul {
                display: flex;
                margin-right: 4rem;

                li {
                    padding-top: 1rem;
                    a {
                        padding: 1rem;
                    }
                }
            }
        }
    }
    /******************main_hp********/
    .main_hp {
        .info_hp {
            display: grid;
            grid-template-columns: 50% 50%;
            .artical {
                h2 {
                    font-size: 1.7rem;
                }
            }
            .Dr_img {
                width: 50%;
                height: 90%;
                padding-left: 20%;
            }
        }
    }
    /************************r_score***************/
    .r_score {
        position: relative;
        padding: 0rem;
        width: 100%;
        display: flex;
        .video {
            width: 100%;
            #myvideo {
                display: block;
                width: 100%;
                object-fit: cover;
                height: 22rem;
               /* height: 32rem; */
            }
        }


        .video_info{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 1.5rem;
        padding-top: 0rem;
        position: absolute;
        margin: 0rem 4rem;
       /* margin: 4rem; */

        
            .r_artical {
                h2 {
                   margin-top: 0rem;
                   font-size: 1.7rem;
                }
                p{
                    margin-top: 0rem;
                    padding-top: 0rem;
                    margin-bottom: 3rem;
                }
            }
            .r_numbers {
                .r_type {
                    width: 26%;
                    height: 5rem;
    
                }
            }

        }
    }
    /************Help*****************/
    .help {
        flex-direction: row;
        justify-content: space-between;

        .help_hp {
          /*  h2 {
                text-align: start;
            } */
            p {
                margin-bottom: 0rem;
                
            }
        }

        .enquiry_button {
          /*  width: 20%; */
            padding-top: 0.5rem;

            .second_button {
                height: 3.2rem;
                font-size: 0.9rem;
            }
        }
    }    
}
/**************************End*************************/