/*************Nav Bar*****************************/
nav {
    .nav_log {
        width: 6.5rem;
    }

    .Desktop_nav {
        display: none;
    }
}
/******************header**************/
.header {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .heading {
     /*   display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        h1,p {
            color: var(--white);
        }
        h1 {
            padding: 1rem 0rem;
          /*  font-size: 1.8rem; */
        
        }
    }
}
/*******************Map**************************/
.map {
    iframe  {
        width: 100%;
    }
} 
/******************End nav*************/
main {
    /*****************************Addrs***************************/
    .addrs {
        padding-top: 0rem;
        .addrs_content {
            display: flex;
            align-items: center;
            padding-top: 1rem;
            i {
                color: var(--dodgle-blue);
                font-size: 1.5rem;
            }
            .noida {
                margin-left: 1.8rem;
                p {
                    margin: 0rem;
                    text-align: start;
                    padding-top: 0.3rem;
                }
            }
        }
        
       
    }
     /********************input area*****************************/
    .input_area {
        background-color: var(--lightbg-color);
        padding: 1rem;
        .input{
            .Enter_input {
                margin-bottom: 0.5rem;
                margin-right: 0.5rem;
                background-color: var(--white);
                input {
                    border: none;
                    margin-left: 0.5rem;
                }
            }
            
            .texarea {
                background-color: var(--white);
                .Enter_input {
                    textarea {
                        padding: 0.6rem 0rem;
                        border: none;
                        margin-left: 0.5rem;
                        font-family: 'nexa-light';
                       
                    }
                   #t_area {
                    width: 50%;
                    height: 0.8rem;
                    } 
                }
            }
        }
        .button_sendM {
            display: flex;
            justify-content: flex-end;
           /* padding-left: 55.1%; */
            button {
                border-radius: 0rem;
            }
        }    
        
    }
}    
/*********************Footer**********************/
.Footer {
    border-bottom: 1rem solid var(--dodgle-blue);

    .first_row {
        .footer_image {
            width: 9.8rem;
            padding-bottom: 0.5rem;
        }
        ul {
            li {
                color: var(--white);
                padding: 0.3rem;
            }
        }
    }

    .second_row {
        .socail-media {
            i {
                color: var(--white);
                padding: 0.8rem;
            }
        }

        .copy-rights {
            p {
                color: var(--white);
                i {
                    color: var(--white);
                }
            }
        }
    }
}
/********Footer end***************/

/********Footer end***************/

/************Meadia Q*******************************/
/*************Tablet Views (768px)*********************/


@media only screen and ( min-width:768px) {
     /*********************Main****************************/
    main {
        .addrs {
            display: flex;
            justify-content: space-between;
            .addrs_content {
                .noida {
                    h3 {
                       font-size: 0.8rem;
                    }
                    p {
                       font-size: 0.7rem;
                    }
                }
            }
        }
        /**********input area************/
        .input_area {
            padding: 1rem 2rem;
            .input{
                display: flex;
               justify-content: space-between;
               .input_info {
                width: 49.5%;
                }
               .texarea {
                    width: 49.5%;
                    height: fit-content;
                    .Enter_input {
                        #t_area {
                            width: 100%;
                            height: 5.75rem;
                        }
                        textarea::placeholder {
                            padding-top: 2.8rem;
                        }
                    }
                }
            }
           /* .button_sendM {
                
                padding-left: 82.5%;
            }  */
            
        }
    }
      /************************Footer*******************************/
    .Footer {
        .first_row {

            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;

            ul {
                li {
                    color:var(--dark_blue);
                    display: inline-flex;
                    padding: 0.5rem 0.8rem 0.5rem 0rem;
                    
                }
            }
        }

        .second_row {
             display: flex;
             flex-direction: row-reverse;
             width: 100%;
             justify-content: space-between;
             padding-top: 1.5rem;

            .socail-media {
                i {
                  color: var(--dark_blue);
                  padding: 0rem;
                  padding-left: 0.8rem;
                }
            }

            .copy-rights {
                p {
                    margin: 0rem;
                    color:var(--dark_blue);
                    font-size: 0.9rem;
                    i{
                        color: var(--dark_blue);
                    }
                }
            }
        }
    }

   
   

}

@media only screen and ( min-width:1024px) {
     /******************Nav Bar**************************/
    nav {
        #list_toggle {
            display: none;
        }
        .nav_log {
            width: 13rem;
        }
        .Desktop_nav {
            display: initial;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .navbar_buttons {
                display: flex;

                button {
                    width: 10rem;
                    height: 3rem;
                    padding: 0rem 1rem;
                    border-radius: 0.3rem;
                    
                }

                .login-button {
                    margin-right: 0.5rem;
                    border: 0.1rem solid var(--dark_blue);
                    background-color: var(--white);
                    color: var(--dark_blue);
                    font-family: 'nexa-bold';
                }
                
                .quote-button {
                    
                    background-color: var(--dark_blue);
                    color: var(--white);
                }

            }

            ul {
                display: flex;
                margin-right: 4rem;

                li {
                    padding-top: 1rem;
                    a {
                        padding: 1rem;
                    }
                }
            }
        }
    }
    /**********************Main***************/
    main {
        display: grid;
        grid-template-columns: 20% 80%;
        padding: 0 4rem;
        
        .addrs {
            flex-direction: column;
            padding:  0rem;
        }
       /* .input_area {
            .input {
                .texarea {
                    .Enter_input {
                        textarea::placeholder {
                            padding-top: 2rem;
                        }
                    }
                }
            }
            .button_sendM {
                padding-left: 88%;
            } 
        } */
    }
}
/********************End*********************/