/**********Navbar**************************/
nav {
    .nav_log {
        width: 6.5rem;
    }

    .Desktop_nav {
        display: none;
    }
}
/******************header**************/
.header {
    background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/contactUs.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .heading {
     /*   display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        h1,p {
            color: var(--white);
        }
        h1 {
            padding: 1rem 0rem;
          /*  font-size: 1.8rem; */
        
        }
    }
}
/**********************Dr_main*********/
.Dr_main {
    .Dr_artical {
        border: 0.1rem solid var(--lightgrey);
        padding: 0.5rem;
        .Dr_img{
            img {
                padding-bottom: 0.5rem;
            }
            button {
                width: 100%;
            }
        }
        /***************Dr About***********/
        .Dr_about {
            .Dr_name {
                border-bottom: 0.1rem solid var(--lightgrey);
                border-bottom-style: dashed;
                h1 {
                    text-align: start;
                    color: var(--dodgle-blue);
                    position: relative;
                    
                    margin: 2rem;
                    margin-left: 2.8rem; 
                   
                }
                h1::before {
                    content: "";
                    position: absolute;
                    border-bottom: 0.19rem solid;
                    width: 3rem;
                    top: 0.8rem;
                    left: -3.3rem;
                }
            }
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    padding: 1rem 0;
                    border-bottom: 0.1rem solid var(--lightgrey);
                    border-bottom-style: dashed;
                    h2 {
                        color: var(--dodgle-blue);
                        margin: 0rem;
                        i {
                          /*  color: var(--dodgle-blue); */
                            padding-right: 0.8rem;
                        }
                    }
                    i {
                        color: var(--dodgle-blue); 
                    }
                    #up_down_angle {
                        
                        background-color: #e5f1f7;
                        padding: 0.1rem 0.01rem 0.01rem 0.3rem;
                        border-radius: 50%;

                    }
                }
                p {
                    background-color: #e5f1f7;
                    text-align: start;
                }
            }
        }
    }
}
/**********Help**********************/
.help {
    background-color: var(--lightbg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    .help_hp {
        text-align: center;
        h1{
           color: var(--white);
         /*  font-size: 1.5rem; */
           padding-bottom: 0.8rem;
        }
    }
    
}
/*********************Footer**********************/
.Footer {
    border-bottom: 0.5rem solid var(--dodgle-blue);
    .first_row {
        .footer_image {
            width: 9.8rem;
            padding-bottom: 0.5rem;
        }
        ul {
            li {
                color: var(--white);
                padding: 0.3rem;
            }
        }
    }

    .second_row {
        .socail-media {
            i {
                color: var(--white);
                padding: 0.8rem;
            }
        }

        .copy-rights {
            p {
                color: var(--white);
                i {
                    color: var(--white);
                }
            }
        }
    }
}
/********Footer end***************/

/************Meadia Q*******************************/
/*************Tablet Views (768px)*********************/

/************************Find Afforable********************/
@media only screen and ( min-width:768px) {
    /***************Dr_main****************/
    .Dr_main {
        .Dr_artical {
            display: flex;
            flex-direction: row-reverse;
            .Dr_img {
                width: 50rem;
                height: 100%;
                padding: 1rem;
            }
            .Dr_about {
                padding: 0rem 1rem 1rem 1rem;
                .Dr_name {
                    h1 {
                        margin-left: 0rem;
                        margin-top: 1rem;
                        font-size: 1.6rem;
                    }
                    h1::before{
                        width: 1.4rem;
                        left:-1.5rem;
                        top: 0.5rem;
                    }
                    p{
                        margin-left: 0rem;
                        text-align: start;
                    }

                }
                ul {
                    p {
                        margin-left: 0rem;
                    }
                }
            }
        }
    }
    /************************Footer*******************************/
    .Footer {
        .first_row {

            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;

            ul {
                li {
                    color:var(--dark_blue);
                    display: inline-flex;
                    padding: 0.8rem 0.8rem 0rem 0rem;
                    
                }
            }
        }

        .second_row {
             display: flex;
             flex-direction: row-reverse;
             width: 100%;
             justify-content: space-between;
             padding-top: 1.5rem;

            .socail-media {
                padding-top: 0.4rem;
                i {
                  color: var(--dark_blue);
                  padding: 0rem;
                  padding-left: 0.8rem;
                }
            }

            .copy-rights {
                p {
                    margin: 0rem;
                    color:var(--dark_blue);
                    font-size: 0.9rem;
                    i{
                        color: var(--dark_blue);
                    }
                }
            }
        }
    }
}

/*********Desktop views (1024px)*********************/
@media only screen and ( min-width:1024px) {
    
      
    /******************Nav Bar**************************/
    nav {
        #list_toggle {
            display: none;
        }
        .nav_log {
            width: 13rem;
        }
        .Desktop_nav {
            display: initial;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .navbar_buttons {
                display: flex;

                button {
                    width: 10rem;
                    height: 3rem;
                  /*  padding: 0rem 1rem; */
                    border-radius: 0.3rem;
                    
                }

                .login-button {
                    margin-right: 0.5rem;
                    border: 0.1rem solid var(--dark_blue);
                    background-color: var(--white);
                    color: var(--dark_blue);
                    font-family: 'nexa-bold';
                }
                
                .quote-button {
                    
                    background-color: var(--dark_blue);
                    color: var(--white);
                }

            }

            ul {
                display: flex;
                margin-right: 4rem;

                li {
                    padding-top: 1rem;
                    a {
                        padding: 1rem;
                    }
                }
            }
        }
    }
    /*************Dr_main*****************/
    .Dr_main {
       .Dr_artical {
           padding: 1rem;
           .Dr_about {
               .Dr_name {
                   h1 {
                       font-size: 2.1rem;
                    }
                    h1::before {
                        width: 2rem;
                        left: -2rem;
                    }
                }
                ul {
                    li {
                        padding: 1.5rem 0rem;
                    }
                }
           }
       } 
    }
    /************Help*****************/
    .help {
        flex-direction: row;
        justify-content: space-between;

        .help_hp {
          /*  h2 {
                text-align: start;
            } */
            p {
                margin-bottom: 0rem;
                
            }
        }

        .enquiry_button {
          /*  width: 20%; */
            padding-top: 0.5rem;

            .second_button {
                height: 3.2rem;
                font-size: 0.9rem;
            }
        }
    }
} 

/***************************END*******************/