/*************Nav Bar*****************************/
nav {
    .nav_log {
        width: 6.5rem;
    }

    .Desktop_nav {
        display: none;
    }
}

/***********Cardic Delhi**********/
.cardic_delhi {
    display: none;
}

/*********Dr list sort by***************/

.Dr_list_sorting {
    padding-bottom: 0rem;
    display: flex;
    justify-content: space-between;

    h2 {
        padding-top: 0.4rem;
        margin: 0rem;
    }

    button {
        width: 5.8rem;
    }
}

 /**********Help**********************/
.help {
    background-color: var(--lightbg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
    .help_hp {
        h1{
           color: var(--white);
        }
    }
    .enquiry_button {
         width: 60%;
    }
}

/**********footer**************/

.Footer {
    .first_row {
        display: contents;
        .footer_image {
            width: 12rem;
            

        }
        ul {
            padding: 1rem;
            li {
                h1 {
                    color: var(--white);  
                }
                color: var(--white);
                padding: 0.5rem;
            }
        }
    }

    .second_row {
        .socail-media {
            display: none;
        }

        .copy-rights {
            h3 {
                color: var(--white);
                i {
                    color: var(--white);
                }
            }
        }
    }
}

/************Media Q*************/
/****************Tablet Views****************************/
 @media only screen and ( min-width:768px) {
    
   /**********Dr list sorting by**********************/
   .Dr_list_sorting {
        button {
            width: 7rem;
            height: 2.5rem;
        }
    }

    /******************Help***************/
    .help {
        .enquiry_button {
            width: 30%;
        }
    }

    /****************Footer**************************/
    .Footer {
        border-bottom: 0.5rem solid var(--dodgle-blue);
        .first_row {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;
            .footer_image {
                width: 9rem;
            }
            ul {
                padding: 0rem;
                .s_media_name {
                    display: none;
                }
                li {
                    color: var(--dark_blue);
                    display: inline-flex;
                    padding: 0.5rem 0.8rem 0.5rem 0rem;
                }
            }
        }
        .second_row {
            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;
            padding-top: 1.5rem;
            .socail-media {
                display: initial;
                i {
                    color: var(--dark_blue);
                    padding: 0rem;
                    padding-left: 0.8rem;
                }
            }
            .copy-rights {
                h3 {
                    color: var(--dark_blue); 
                    font-size: 0.9rem;
                    i{
                        color: var(--dark_blue);
                    }
                }
            }
        }
    }


}

 /*********Desktop views (1024px)*********************/
@media only screen and ( min-width:1024px) {

    /******************Nav Bar**************************/
    nav {
        #list_toggle {
            display: none;
        }
        .nav_log {
            width: 13rem;
        }
        .Desktop_nav {
            display: initial;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .navbar_buttons {
                display: flex;

                button {
                    width: 10rem;
                    height: 3rem;
                    padding: 0rem 1rem;
                    border-radius: 0.3rem;
                    
                }

                .login-button {
                    margin-right: 0.5rem;
                    border: 0.05rem solid var(--dark_blue);
                    background-color: var(--white);
                    color: var(--dark_blue);
                }
                
                .quote-button {
                    
                    background-color: var(--dark_blue);
                    color: var(--white);
                }

            }

            ul {
                display: flex;
                margin-right: 4rem;

                li {
                    padding-top: 1rem;
                    a {
                        padding: 1rem;
                    }
                }
            }
        }
    }

      /********Cardic Delhi********/
      .cardic_delhi  {
      
        height:10rem;
        display: block;
        background-image:linear-gradient(rgba(133, 178, 196, 0.8),rgba(121, 145, 155, 0.8)),url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Doctors.png");
        background-position: center;
        background-size: cover;
       
        
    } 
    .cardic_delhi h1 {
       display: flex;
       justify-content:flex-start;
       padding-top:4.5rem;
       
    }
    .cardic_delhi h1 a {
        padding-left: 0.4rem;
    }

     /************Help*****************/
     .help {
        flex-direction: row;
        justify-content: space-between;

        .help_hp {
            p {
                margin-bottom: 0rem;
            }
        }

        .enquiry_button {
            width: 20%;
            padding-top: 0.5rem;

            .second_button {
                height: 3.2rem;
                font-size: 0.9rem;
            }
        }
    }
}