/*****************color variables*************************/
$treatment_gra1:rgba(0,0,0,0);
$treatment_gra2:rgba(17, 10, 26,0.9);


/*************Nav Bar*****************************/
 nav {
    .nav_log {
        width: 6.5rem;
    }

    .Desktop_nav {
        display: none;
    }
} 
 
 /************find****************************/

.header {
        background-color:var(--lightbg-color);
        .mheader{
           .inputform {
               .mapicon {
                   width: 100%;
                   display: flex;
                   background-color: var(--white);
                   align-items: center;
                   margin-bottom: 0.4rem;
   
                   i {
                       padding: 0.5rem;
                       color: var(--dark_blue);
                   }
                   input {
                       border: none;
                       
                   }
                   .second_input {
                       margin-left: 1.7rem;
                   }
                   .crosshairsimg {
                       width: 1rem;
                       padding:0.5rem;
                   }
                   
               }
               button {
                   margin-top: 0.5rem;
                   border: none;
                   width: 8rem;
                   height:2.25rem;
               }  
            }
        }    
    }

/********How its Work*****************************/
.how {
    ul {
        
            .fix_li {
                li {
                    border-color:var(--dark_blue);

                    h2 {
                        color: var(--dark_blue);
                        span {
                            color: var(--dodgle-blue);
                        }
                    }
                }
            }

            .fig_fix_caption {
                text-align: center;

                .fix_img {
                    margin-left: 0.5rem;
                }
                h2 {
                    padding: 1rem;
                }
            }
        
        li {
         border: 0.1rem solid lightgray;
         border-radius: 0.5rem;
         margin-bottom: 0.7rem;

         h2 {
             padding: 1rem;
             color: var(--lightgrey);

             span {
                 padding-right: 1rem;
             }
         }
        }  
        
    }

    
} 

/*******Word Experts Dr********************/
.expertsDr {
    background-color: var(--dark_blue);

    h1 {
        color:var(--white);;
    }
    p {
        color: var(--lightgrey);
        padding: 0.5rem;
    }

    .expertsDr_info {
        .expertsDr_card {
            margin-bottom: 0.8rem;
            .Dr_image {
                height: 25rem;
            }
            .Drintro {
                background-color: var(--white);
                margin-top: -0.2rem;
                border-bottom: 0.2rem solid skyblue;
                padding: 0.5rem 0rem;

                

               h3 {
                  color: var(--dodgle-blue);
                  position: relative;
                  margin-left: 2rem;
                  padding: 0.5rem 0;
                  
               }
               ::before {
                content: "";
                position: absolute;
                border-bottom: 0.19rem solid;
                width: 1.8rem;
                top: 0.7rem;
                left: -2rem;
             }
    
              ul {
                  li {
                    margin-left: 2rem;
                    margin-bottom: 0.3rem;
                    text-align: start;
                    font-size: 0.9rem;
                  }
              } 

               
            }
        }
    }
}


/* ........treatment........................ */
.Treatment{
    .doc{
        .docs{
            .doc-c{
                .grid-box{
                    height: 20rem;
                    width: 100%;
                    margin-top: 1rem;
                    position: relative;
                    .linear-g{
                        background-image: linear-gradient($treatment_gra1 0%,$treatment_gra2 57%);
                        position: absolute;
                        width: 100%;
                        height: 40%;
                        bottom: 0%;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .name{
                        position: absolute;
                        bottom: 6%;
                        left: 6%;
                        font-size: 0.75rem;
                        font-family: nexa-light;
                        color: var(--white);
                        text-align: left;
                        h5{
                            margin-bottom: 0.3rem;
                            letter-spacing: 0.02rem;
                            font-size: 1rem;
                            font-family: 'nexa-bold';
                            color: var(--white);
                        }
                    }
                }
            }
        }
    }
}
/* ........treatment..end................... */

/**********Services*****************************/
.services {
    background-color: whitesmoke;
    .services_available {
        display: flex;
        flex-wrap: wrap; 
        .box {
            background-color: var(--white);
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0.2rem;
            width: 47%;
            h3 {
                font-size: 0.81rem;
                margin-bottom: 0.7rem; 
                
            }
        }
    }
}

/**********Help**********************/
.help {
   background-color: var(--lightbg-color);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   .help_hp {
       h1{
          color: var(--white);
       }
    }
   /* .enquiry_button {
        width: 60%;
    } */
}

/*********************Footer**********************/
.Footer {
    .first_row {
        .footer_image {
            width: 9.8rem;
            padding-bottom: 0.5rem;
        }
        ul {
            li {
                color: var(--white);
                padding: 0.3rem;
            }
        }
    }

    .second_row {
        .socail-media {
            i {
                color: var(--white);
                padding: 0.8rem;
            }
        }

        .copy-rights {
            p {
                color: var(--white);
                i {
                    color: var(--white);
                }
            }
        }
    }
}
/********Footer end***************/

/************Meadia Q*******************************/
/*************Tablet Views (768px)*********************/

/************************Find Afforable********************/
@media only screen and ( min-width:768px) {
    .header {
        .mheader{
            .heading {
                p {
                    margin: 1rem 0rem;
                }
            }
    
            .inputform {
                #Search_add {
                    margin-right: 0.2rem;
                    width: 60%;
                }
                #search_h_d {
                    
                    width: 80%;
                    
                }
                button {
                    
                    width: 13rem;
                    margin-top: 0rem;
                    margin-bottom: 0.3rem;
                }
            }
        }
    }

    /*****************How its work*************************/

    .how {
        ul {
            li {
                margin-bottom: 0.9rem;
                h2 {
                    span {
                        
                        padding-left: 0rem;
                    }
                }
            }
        }
        .facilities {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-template-rows: repeat(1fr 7);
            padding-top: 0.5rem;

           .fix_li {
              grid-row-start: 1;
              grid-row-end: 2;
           }

           .fig_fix_caption {
              grid-column-start: 2;
              grid-column-end: 3;
              grid-row-start: 1;
              grid-row-end: 8;
              margin-left: 1rem;


              .fix_img {
                  margin-left: 1.3rem;
                 
              }
              p {
                  margin-top: 0rem;
              }
           }

           .f_ul_list {
              grid-row-start: 2;
              grid-row-end: 8;
           }
           
           
        }
    }

    /*********************Word Experts Dr************************/
    .expertsDr {
        .expertsDr_info {
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column-gap: 0.4rem;
            .expertsDr_card {
                width: 98%;

                .Drintro {
                    ::before {
                        top: 0.8rem;
                    }
                    ul {
                        height: 4.5rem;
                    }
                }
                
            }
        }
    }
    
    /************************Featured Medical*******************/
    .Treatment {
        .demo-hp {
            p {
                margin: 1rem 0rem;
            }
        }
        
            .docs {
                display: grid;
                grid-template-columns: 50% 50%;
                grid-template-rows: 1fr 1fr 1fr;
                grid-column-gap: 0.5rem;
                
                .doc-c {
                    width: 97%;
                }
            }
        
    }

    /******************************Services****************/
    .services {
        .services_available {
            .box {
                width: 31%;
                margin: 0.5rem;
            }
        }
    }

    /******************Help***************/
   /* .help {
        .enquiry_button {
            width: 30%;
        }
    } */

    /************************Footer*******************************/
    .Footer {
        .first_row {

            display: flex;
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;

            ul {
                li {
                    color:var(--dark_blue);
                    display: inline-flex;
                    padding: 0.8rem 0.8rem 0rem 0rem;
                    
                }
            }
        }

        .second_row {
             display: flex;
             flex-direction: row-reverse;
             width: 100%;
             justify-content: space-between;
             padding-top: 1.5rem;

            .socail-media {
                padding-top: 0.4rem;
                i {
                  color: var(--dark_blue);
                  padding: 0rem;
                  padding-left: 0.8rem;
                }
            }

            .copy-rights {
                p {
                    margin: 0rem;
                    color:var(--dark_blue);
                    font-size: 0.9rem;
                    i{
                        color: var(--dark_blue);
                    }
                }
            }
        }
    }
}

/*********Desktop views (1024px)*********************/
@media only screen and ( min-width:1024px) {

    /******************Nav Bar**************************/
    nav {
        #list_toggle {
            display: none;
        }
        .nav_log {
            width: 13rem;
        }
        .Desktop_nav {
            display: initial;
            display: flex;
            justify-content: flex-end;
            width: 100%;

            .navbar_buttons {
                display: flex;

                button {
                    width: 10rem;
                    height: 3rem;
                  /*  padding: 0rem 1rem; */
                    border-radius: 0.3rem;
                    
                }

                .login-button {
                    margin-right: 0.5rem;
                    border: 0.1rem solid var(--dark_blue);
                    background-color: var(--white);
                    color: var(--dark_blue);
                    font-family: 'nexa-bold';
                }
                
                .quote-button {
                    
                    background-color: var(--dark_blue);
                    color: var(--white);
                }

            }

            ul {
                display: flex;
                margin-right: 4rem;

                li {
                    padding-top: 1rem;
                    a {
                        padding: 1rem;
                    }
                }
            }
        }
    }

    /***Find Afforatable**********************************/
    .header {
        background-image: url("https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/img1.jpg"); 
        background-repeat: no-repeat;
        background-size: cover; 
        height: 18rem;

        .mheader {
            padding: 4rem 0rem;
            width: 60%;

            .inputform {
                .mapicon {
                    height: 3rem;
                    i{
                        padding: 1rem;
                    }
                   
                }
                #Search_add {
                    .crosshairsimg {
                        width: 1.5rem;
                       padding: 1rem;
                    }

                }
                button {
                    height: 3rem;
                }
            }
        }
    }

    /**************How its Work*******************************/
    .how {
        ul {
            .fix_li {
                li {
                    border-color: var(--dodgle-blue);
                }
            }
            li {
                width: 80%;
                margin-bottom: 0.4rem;
                h2 {
                    padding: 1.5rem;
                    span {
                        padding: 0rem 1.8rem 0rem 1rem;
                        font-size: 1.8rem;
                    }
                }
            }
        }
        .facilities {
            .fig_fix_caption {
                padding-top: 2rem;
                p {
                    text-align: center;
                    padding: 0rem 1.5rem;
                }
            }
        }
    }

    /*********Word Experts Dr*******************/
    .expertsDr {
        .expertsDr_info {
            grid-template-columns: repeat(4 ,25%);
        }
        .dotss {
            margin-top: 2rem;
            .dott{
                cursor: pointer;
                
                margin-right: 0.5rem;
                background-color: var(--lightgrey);
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                &:hover {
                    background-color: #ddc6c6;
                }
               
            }
            span {
                padding: 0.5rem;
            }
        }

    }

    /***********Treatment*****/

    /*......treatment.......................  */
    .Treatment{
        justify-content: flex-start;
        .doc{
            .docs{
                display: grid;
                height: 50rem;
                grid-template-columns: repeat(3,1fr);
                grid-template-rows: repeat(10,1fr) ;
                grid-column-gap: 0.8rem;
                .doc-c{
                  /*  margin: 0.3rem;*/
                  margin-bottom: 0.8rem;
                    width: auto;
                    .grid-box{
                        height: 100%;
                    }
                }
                #ta{
                    grid-area: 1 / 1 / span 3 / span 1;
                    margin-left: 0;
                }
                #tb{
                    grid-area: 1 / 2 / span 5 / span 1;
                }
                #tc{
                    grid-area: 1 / 3 / span 4 / span 1;
                    margin-right: 0;
                }
                #td{
                    grid-area: 4 / 1 / span 8 / span 1;
                    margin-left: 0;
                }
                #te{
                    grid-area: 6 / 2 / span 5 /  3;
                }
                #tf{
                    grid-area: 5 / 3 / span 6 / span 1;
                    margin-right: 0;
                }
            }
        }
        .dotss{
            margin-top: 2rem;
            .dott{
                cursor: pointer;
                
                margin-right: 0.5rem;
                background-color: var(--lightgrey);
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
                &:hover {
                    background-color: #ddc6c6;
                }
               
            }
            span {
                padding: 0.5rem;
            }
        }
    }
    /*......treatment.end......................  */    

    /**********Services*******************************/
    .services {
        .services_available {
            justify-content: space-between;
            .box {
                width: 16%;
                height: 10rem;
                border-radius: 0rem;
                margin: 0rem;
            }
        }
    }

    /************Help*****************/
    .help {
        flex-direction: row;
        justify-content: space-between;

        .help_hp {
            p {
                margin-bottom: 0rem;
            }
        }

        .enquiry_button {
          /*  width: 20%; */
            padding-top: 0.5rem;

            .second_button {
                height: 3.2rem;
                font-size: 0.9rem;
            }
        }
    }
}

/*********************End***************************/